@import "../../sass/\ mixins.scss";
@import "../../sass/variables.scss";

.registration-form {
    @include card(40px,400px);
    .form-group {
      margin-bottom: 15px;
      label {
        display: block;
        margin-bottom: 5px;
      }
      input {
        @include input(#636363);
      }
      .error-message {
        color: red;
      }
    }
    button {
     @include button($button-color-black,$bg-color-white,1.3rem,40px)
    }
    p {
      margin-top: 10px;
      text-align: center;
    }
    h4{
      margin: 0 40px;
      font-size: 1rem;
      color: gray;
      text-decoration: none;
      right: 0;
  }
  }
  