
@mixin button($bg, $text-color, $font-size, $m-t) {
    padding: 10px 15px;
    background-color: $bg;
    color: $text-color;
    border: none;
    border-radius: 40px;
    font-size: $font-size;
    cursor: pointer;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $m-t;
    font-weight: 700;
  
    &:disabled {
      background-color: lightgray; 
      cursor: not-allowed;
      color:rgb(67, 67, 67)
    }
  
    @content;
  }
  
@mixin card ($border-radius,$width){
    width: $width;
    margin: auto;
    padding: 40px 60px;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    border-radius: $border-radius;
    @content
}
@mixin input ($color){
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    font-weight: 700;
    color:$color;
    @content
}
@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}
