$bg-color-white:#ffffff;
$bg-color-light-purple:#F5F5F5;
$button-color-black:#000000;
$button-color-white:#ffffff;

$font-color-black:#000000;
$font-color-white:#ddd;

$field-border-color:#CACACA;
$field-bg-color:#F6F6F6;

$done-color:#3DF539;
